{% extends "base.html" %}
{% from "macros/list_section.html" import render_list_section %}

{% block title %}Dev-Blog{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/devBlog.css') }}">
{% endblock %}

{% block content %}
<main class="page-content">
    <header class="blog-header">
        <h1><a href="http://amandaleeanne.github.io/Devlog-for-WarhammerCapstoneProject/" target="_blank" rel="noopener noreferrer">Dev-Blog</a></h1>
        <p>Insights, and reflections on my Capstone coding journey. This is something I am quite proud of.</p>
    </header>
    <iframe src="https://amandaleeanne.github.io/Devlog-for-WarhammerCapstoneProject/" class="dev-blog-embed" title="Dev-Blog"></iframe>
</main>
{% endblock %}